= form_for Comment.new, remote: true, authenticity_token: true, class: 'form-horizontal', data: { commentable_id: commentable.id } do |f|
  - if current_user
    = render partial: 'the_comments/haml/logined_form', locals: { f: f, commentable: commentable }
  - else
    = render partial: 'the_comments/haml/guest_form', locals: { f: f, commentable: commentable }
