- if commentable.try(:comments_on?) || true
  - unless current_user
    .comments_description
      %p You must be <a href='/users/sign_in'>logged in</a> to comment.

.comments#comments
  %ol.comments_tree{ data: { commentable: commentable.id, comments: { tolarance_time: TheComments.config.tolerance_time  } } }
    = render partial: 'the_comments/haml/comment', locals: { tree: comments_tree }
  = render partial: 'the_comments/haml/form', locals: { commentable: commentable }
